<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Begin  Web Developer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-img src="/assets/html5.svg" align="center"></ion-img>
  <ion-card-header>
    <ion-card-title> HTML</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    ภาษาสำหรับการสร้างหน้าเว็บ
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-img src="/assets/html5.svg" align="center"></ion-img>
<ion-card-header>
  <ion-card-title> CSS</ion-card-title>
</ion-card-header>

<ion-card-content>
  ภาษาสำหรับจัดแต่งหน้าเว็บ
</ion-card-content>
</ion-card>
<ion-card>
  <ion-img src="/assets/html5.svg" align="center"></ion-img>
<ion-card-header>
  <ion-card-title> SQL</ion-card-title>
</ion-card-header>

<ion-card-content>
  ภาษาสำหรับจัดแต่งหน้าเว็บ
</ion-card-content>
</ion-card>
<ion-card>
  <ion-img src="/assets/html5.svg" align="center"></ion-img>
<ion-card-header>
  <ion-card-title> PHP</ion-card-title>
</ion-card-header>

<ion-card-content>
  ภาษาสำหรับจัดแต่งหน้าเว็บ
</ion-card-content>
</ion-card>
<ion-card>

</ion-card>

<ion-fab vertical="bottom" horizontal="end">
<ion-fab-button>Share</ion-fab-button>

<ion-fab-list side="top">
  <ion-fab-button>Facebook</ion-fab-button>
  <ion-fab-button>Twitter</ion-fab-button>
  <ion-fab-button>Youtube</ion-fab-button>
</ion-fab-list>

<ion-fab-list side="start">
  <ion-fab-button>Vimeo</ion-fab-button>
</ion-fab-list>

</ion-fab>
</ion-content>
